.hero {
  height: 600px;
  position: relative;
  background: url(bg.jpg);
  background-size: contain;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}

.main-el {
  height: 100px;
  width: 100%;
  background-image: url(main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.fore-el {
  background-color: transparantize(pink, 0.5);
  background-image: url(fore.png);
  height: 733px;
  width: 960px;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px;
}

.back-el {
  width: 960px;
  height: 298px;
  background-image: url(back.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;;
  margin-left: -480px;
}
