


iframe{
  width:25%;
  height:500px;
  position: fixed;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

p{
  color: rgba(0,0,0,0.125);
}
b{
  color: rgba(0,0,0,1);
}

.infoText{
  color: rgba(0,0,0,1);
}